# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# AWS EB artifacts
.elasticbeanstalk/
.ebextensions/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# pruebas
test_rds.py
postman_collection.json
