option_settings:
  aws:elasticbeanstalk:application:environment:
    # IMPORTANTE: Aqui se usa el prefijo postgresql+psycopg:// (psycopg v3 / Python 3.14)
    DATABASE_URL: "postgresql+psycopg://postgres:xqT7X6NDts@database-1.cgt2qqmgc4gc.us-east-1.rds.amazonaws.com:5432/postgres"
    STATIC_TOKEN: "deployado-12042026-token"
    JWT_SECRET_KEY: "jwt-secret-key-blacklist-service-12042026-token"
